*{
    margin: 0;
    padding: 0;
}
.cont{
    height: 100vh;
    display: grid;
    grid-template-rows: 20vh 1fr 10vh;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "head head"
    "left main"
    "ft ft"
    ;
}
.top{
    grid-area: head;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    grid-area: left;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main{
    grid-area: main;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ft{
    grid-area: ft;
    background-color: lightpink;
}

.formularz{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
}