*{
    margin: 0;
    padding: 0;
}
.cont{
    height: 100vh;
    display: grid;
    grid-template-rows: 20vh 1fr 10vh;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "head head"
    "left main"
    "ft ft"
    ;
}
.top{
    grid-area: head;
    background-color: #ffcdb2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.left{
    grid-area: left;
    background-color: #ffb4a2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main{
    grid-area: main;
    background-color: #e5989b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ft{
    grid-area: ft;
    background-color: #b5838d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formularz{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
}
.formularz-wyp{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-direction: row;
}
.linki{
    right: 10px;
    bottom: 10px;
    position: absolute;
    height: 50px;
    width: 800px;
    display: flex;
    flex-direction: row;
}
.link{
    margin-left: 10px;
    position: relative;
    height: 50px;
    width: 200px;
    background-color: grey;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    transition: 0.5s;
}
.link:hover{
    background-color: white;
    color: black;
}
.btn{
    margin-top: 10px;
    vertical-align: middle;
    width: 200px;
}
.btn-wyp{
    margin-top: 10px;
    vertical-align: middle;
    width: 200px;
}
#icon{
    font-size: 2rem;
}
.login{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login1{
    position: absolute;
    top: 10px;
    left: 10px;
    align-items: center;
    flex-direction: column;
}
.zalogowany{
    color: black;
    font-size: 1rem;
}
.wylogowany{
    color: black;
    font-size: 1rem;
}
.btn-wyloguj{
    text-decoration: none;
    color: black;
}
.logowanie{
    display: flex;
    flex-direction: column;
}

input, button{
    text-align: center;
    vertical-align: middle;
    width: 90%;
    padding: 5px;
    font-size: 1rem;
    margin: 2px;
    border: none;
    background-color: white;
}
table{
    border-collapse: collapse;
    font-size: 1.5rem;
  }
  th, td{
    text-align: center;
    padding: 10px;
  }
